
   <div class="home2-container">

    <div class="background-pattern"></div>
  
    <div class="content-wrapper">

      <nav class="navbar">

        <div class="logo-container">
          <img [src]="logoImage" alt="Splitwise" class="logo" />
          <span class="logo-text">Splitwise</span>
        </div>


        <div class="nav-links">
          <a [routerLink]="'/login'" class="login-link">Log in</a>
          <a [routerLink]="'/signup'" class="signup-button">Sign up</a>
        </div>


      </nav>
  
      <div class="hero-section">


        <div class="hero-text">

          <h1 class="headline">
            Less stress when sharing expenses
            <span class="headline-highlight">on trips.</span>
          </h1>


          <div class="icon-group">

            <div class="icon plane-icon"><fa-icon [icon]="faPlane"></fa-icon></div>

            <div class="icon home-icon"><fa-icon [icon]="faHome"></fa-icon></div>

            <div class="icon heart-icon"><fa-icon [icon]="faHeart"></fa-icon></div>

            <div class="icon asterisk-icon"><fa-icon [icon]="faAsterisk"></fa-icon></div>

          </div>



          <p class="description">
            Keep track of your shared expenses and balances with housemates, trips,
            groups, friends, and family.
          </p>

          <!-- <button class="cta-button" (click)="redirectToSignup()">Sign up</button> -->
          <button class="demo-login-cta-button" (click)="demoLogin()">Demo Login</button>

        </div>
  
        <div class="hero-image-container">

          <img [src]="aeroplaneImage" alt="Geometric Plane" class="hero-image" />
          
        </div>


      </div>
    </div>
  </div>
  
